.App {
  text-align: center;
  font-family: monospace;
}
.header {
  background-color: lightgray;
  font-size: 15px;
}

.key-value-table {
  width: auto;
  font-size: 10px;
  overflow: auto;
  text-align: left;
  margin-top: 5px;
}
